{% extends "layout.html" %}

{% block content %}
{# can't use the nunjucks macro because of compatibility with jinja2 #}
<table class="govuk-table">
    <caption class="govuk-table__caption">RE Traceability Team</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Metric</th>
        <th class="govuk-table__header" scope="col">12/11/2018 - 19/11/2018</th>
        <th class="govuk-table__header" scope="col">19/11/2018 - 26/11/2018</th>
        <th class="govuk-table__header" scope="col">26/11/2018 - 03/12/2018</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Cycle Time (source: pivotal)</th>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Process Cycle Efficiency (source: pivotal)</th>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Completed (source: pivotal)</th>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Incomplete (source: pivotal)</th>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of People Days</th>
        <td class="govuk-table__cell">5</td>
        <td class="govuk-table__cell">5</td>
        <td class="govuk-table__cell">5</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Mean Time To Recovery (MTTR)</th>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Releases</th>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
    </tr>
    </tbody>
</table>

<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start">Explore</a>
{% endblock %}


