{% extends "template.njk" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/main.css">
{% endblock %}

{% block pageTitle %}GDS Team Metrics{% endblock %}

{% block header %}
{{ super() }}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
<!-- classes is not optional, in some way -->
{{ govukPhaseBanner({ 'tag': { 'text': 'prototype', 'classes': 'foo' },
                      'html': 'This is a prototype service' })
}}
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="/static/main.js"></script>
{% endblock %}
