{% extends "layout.html" %}

{% block content %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">GDS</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Delivery & Support</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/teams/gds/delivery-and-support/technology-operations">Technology Operations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">PaaS</li>
    </ol>
</div>

<h1 class="govuk-heading-xl">PaaS</h1>

{# can't use the nunjucks macro because of compatibility with jinja2 #}
<table class="govuk-table">
<!--    <caption class="govuk-table__caption">RE Traceability Team</caption> -->
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Metric</th>
        {% for metric in metrics %}
            <th class="govuk-table__header" scope="col">Q3 2018-19: {{ metric.started_on[:10] }} - {{ metric.ended_on[:10] }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Cycle Time (source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
            <td class="govuk-table__cell">{{ metric.cycle_time }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Process Cycle Efficiency (source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
            <td class="govuk-table__cell">{{ '%0.2f' % (metric.process_cycle_efficiency * 100)  }}%</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Completed (source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
            <td class="govuk-table__cell">{{ metric.num_stories }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Incomplete (source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
            <td class="govuk-table__cell">{{ metric.num_incomplete }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of People Days</th>
        {% for i in range(metrics|length) %}
            <td class="govuk-table__cell">5</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Mean Time To Recovery (MTTR)</th>
        {% for i in range(metrics|length) %}
            <td class="govuk-table__cell">1</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Releases</th>
        {% for i in range(metrics|length) %}
            <td class="govuk-table__cell">0</td>
        {% endfor %}
        </tr>
    </tbody>
</table>

<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start">Explore</a>
{% endblock %}
