{% extends "layout.html" %}

{% block content %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">GDS</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Delivery & Support</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Technology Operations</li>
    </ol>
</div>

<h1 class="govuk-heading-xl">Technology Operations</h1>

<details class="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About Technology Operations
    </span>
    </summary>
    <div class="govuk-details__text">
        something something technology operations
    </div>
</details>

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Aggregated Metrics</th>
        <th class="govuk-table__header" scope="col">12/11/2018 - 19/11/2018</th>
        <th class="govuk-table__header" scope="col">19/11/2018 - 26/11/2018</th>
        <th class="govuk-table__header" scope="col">26/11/2018 - 03/12/2018</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Cycle Time</th>
        <td class="govuk-table__cell">+10%</td>
        <td class="govuk-table__cell">-10%</td>
        <td class="govuk-table__cell">+5%</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Process Cycle Efficiency</th>
        <td class="govuk-table__cell">+1%</td>
        <td class="govuk-table__cell">+0%</td>
        <td class="govuk-table__cell">-3%</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Completed</th>
        <td class="govuk-table__cell">+2</td>
        <td class="govuk-table__cell">-3%</td>
        <td class="govuk-table__cell">+5%</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Incomplete</th>
        <td class="govuk-table__cell">+10%</td>
        <td class="govuk-table__cell">-15%</td>
        <td class="govuk-table__cell">+13%</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of People Days</th>
        <td class="govuk-table__cell">+0%</td>
        <td class="govuk-table__cell">+2%</td>
        <td class="govuk-table__cell">-2%</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Mean Time To Recovery (MTTR)</th>
        <td class="govuk-table__cell">-20%</td>
        <td class="govuk-table__cell">+5%</td>
        <td class="govuk-table__cell">-7%</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Releases</th>
        <td class="govuk-table__cell">55</td>
        <td class="govuk-table__cell">48</td>
        <td class="govuk-table__cell">63</td>
    </tr>
    </tbody>
</table>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><strong><a href="#" class="govuk-link">Reliability Engineering</a></strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><strong><a href="#" class="govuk-link">User Support</a></strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><strong><a href="#" class="govuk-link">Cyber Security</a></strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-font-size"><strong>Others</strong></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">New Platform - Build</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Engage</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="/teams/gds/delivery-and-support/technology-operations/traceability" class="govuk-link">Traceability</a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">New Platform - Run</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Tooling</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">TechOps Homepage</a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">New Platform - Observe</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Operational Intelligence</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">PaaS</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Consult</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">GOV.UK Migration</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Automate</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}


