{% extends "layout.html" %}

{% block content %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">GDS</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Delivery & Support</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Technology Operations</li>
    </ol>
</div>

<h1 class="govuk-heading-xl">Technology Operations</h1>

<details class="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About Technology Operations
    </span>
    </summary>
    <div class="govuk-details__text">
        something something technology operations
    </div>
</details>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><strong><a href="#" class="govuk-link">Reliability Engineering</a></strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><strong><a href="#" class="govuk-link">User Support</a></strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><strong><a href="#" class="govuk-link">Cyber Security</a></strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-font-size"><strong>Others</strong></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">New Platform - Build</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Engage</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="/teams/gds/delivery-and-support/technology-operations/traceability" class="govuk-link">Traceability</a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">New Platform - Run</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Tooling</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">TechOps Homepage</a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">New Platform - Observe</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Operational Intelligence</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">PaaS</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Consult</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">GOV.UK Migration</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link">Automate</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p><a href="#" class="govuk-link"></a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}


